src/main/mule/demo-app.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="demo-app-main">
		<http:listener
			config-ref="demo-app-http-listener-configuration"
			path="${https.listener.api.path}">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:router config-ref="demo-app-config" />
		<error-handler>
			<on-error-propagate type="APIKIT:BAD_REQUEST">
				<ee:transform
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"
					doc:name="Map 400 Error">
					<ee:message>
						<ee:set-payload
							resource="dw/errors/map-post-400-response.dwl" />
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_FOUND">
				<ee:transform
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"
					doc:name="Map 404 Error">
					<ee:message>
						<ee:set-payload
							resource="dw/errors/map-post-404-response.dwl" />
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate
				type="APIKIT:METHOD_NOT_ALLOWED">
				<ee:transform
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"
					doc:name="Map 405 Error">
					<ee:message>
						<ee:set-payload
							resource="dw/errors/map-post-405-response.dwl" />
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[405]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
				<ee:transform
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"
					doc:name="Map 406 Error">
					<ee:message>
						<ee:set-payload
							resource="dw/errors/map-post-406-response.dwl" />
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[406]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate
				type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
				<ee:transform
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"
					doc:name="Map 415 Error">
					<ee:message>
						<ee:set-payload
							resource="dw/errors/map-post-415-response.dwl" />
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[415]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
				<ee:transform
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"
					doc:name="Map 501 Error">
					<ee:message>
						<ee:set-payload
							resource="dw/errors/map-post-501-response.dwl" />
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[501]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="demo-app-console">
		<http:listener
			config-ref="demo-app-http-listener-configuration"
			path="${https.listener.console.path}">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console config-ref="demo-app-config" />
		<error-handler>
			<on-error-propagate type="APIKIT:NOT_FOUND">
				<ee:transform
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"
					doc:name="Map 404 Error">
					<ee:message>
						<ee:set-payload
							resource="dw/errors/map-post-404-response.dwl" />
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">404
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="get:\orders\(orderId):demo-app-config">
		<ee:transform doc:name="Map URI Params">
			<ee:variables>
				<ee:set-variable
					resource="dw/vars/map-uriParams-orderId.dwl" variableName="orderId" />
			</ee:variables>
		</ee:transform>
		<db:select doc:name="Orders"
			doc:id="a4ea7d71-31a1-4f2b-b828-17f75a58d7cf"
			config-ref="database-config">
			<db:sql><![CDATA[SELECT O.OrderId, ItemName, ItemCount, ItemCost, CustomerName, PlacementDate
FROM OrderItems
    left join Items I on I.ItemId = OrderItems.ItemId
    right join Orders O on O.OrderId = OrderItems.OrderId
WHERE OrderItems.OrderId = :orderId]]></db:sql>
			<db:input-parameters><![CDATA[#[{'orderId': vars.orderId}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Map Response"
			doc:id="92bcd363-1ff4-4894-b5ab-b4112b2cd767">
			<ee:message>
				<ee:set-payload
					resource="dw/map-payload-response.dwl" />
			</ee:message>
		</ee:transform>
		<error-handler>
			<on-error-propagate enableNotifications="true"
				logException="true" doc:name="On Error Propagate"
				doc:id="7aee6423-5c10-45f7-9cf9-9eea10e089eb" type="ANY">
				<ee:transform doc:name="Map 500 Error"
					doc:id="a566d77c-62e9-4cbe-a577-ef9fbe1800dc">
					<ee:message>
						<ee:set-payload
							resource="dw/errors/map-post-500-response.dwl" />
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[500]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
